:root {
    --map-size: 20;
    --lines-color: white;
    --unknown-color: rgba(0, 0, 0, 0.893);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#map {
    height: 100vmin;
    width: 100vmin;
    background-color: var(--unknown-color);
    display: grid;
    grid-template-columns: repeat(var(--map-size), 1fr);
    grid-template-rows: repeat(var(--map-size), 1fr);
}

.unknown {
    color: var(--lines-color);
    background-color: var(--unknown-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid balck;
}

.map-element {
    background-color: var(--unknown-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.line {
    background-color: var(--lines-color);
}

.top-right-twist {
    border-bottom-left-radius: 50%;
}

.top-left-twist {
    border-bottom-right-radius: 50%;
}

.bottom-right-twist {
    border-top-left-radius: 50%;
}

.bottom-left-twist {
    border-top-right-radius: 50%;
}
